.Layout {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 87.5em) {
    width: 80%;
  }
  @media only screen and (max-width: 62.5em) {
    width: 90%;
  }
}

.Main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
